.modal > div:nth-child(1) {
  padding: 1rem;
}

.modal > div:nth-child(2),
.modal > div:nth-child(3) {
  padding: 0rem 1rem 1rem 1rem;
}

.modal > div:nth-child(4) {
  display: none;
}

.content {
  width: 18rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 6rem;
}

.radio h4 {
  margin: 0;
  padding: 0;
}

.radio label {
  margin: 0.25rem;
  color: grey;
}
