.header ul {
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}

.header a {
  height: 1.5rem;
}

@media (min-width: 36rem) {
  .header ul {
    flex-direction: row;
    justify-content: flex-start;
    height: 3.5rem;
  }

  .header a {
    height: 3.5rem;
  }
}
