.table {
  margin: 0.5rem;
}

.input {
  margin: 0.25rem !important;
  padding: 0.25rem !important;
  width: 7rem !important;
}

/* p-datatable-footer */
.table > div > div:last-child {
  padding: 0;
}
