.mobile {
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.mobile h3,
.desktop h3 {
  margin: 0.25rem;
  padding: 0.25rem;
  color: lightseagreen;
}

.mobile p,
.desktop p {
  margin: 0.25rem;
  padding: 0.25rem;
  color: grey;
  text-align: center;
}

.desktop {
  display: none;
}

@media (min-width: 36rem) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .group {
    display: flex;
  }
}
